includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/tomasvotruba/cognitive-complexity/config/extension.neon
    - vendor/tomasvotruba/unused-public/config/extension.neon
    - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    paths:
        - src
    level: 10
    cognitive_complexity:
        class: 45
        function: 40
    unused_public:
        methods: true
        properties: true
        constants: true
